div {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  height: 500px;
  border: 1px solid #000000;
}

.circle {
  border: 5px solid #ff0000;
  background-color: #979696;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  margin: 0.5em;
}

.circle.jaster {
  background-image: url('../images/jaster.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle.byrd {
  background-image: url('../images/byrd.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle.peterson {
  background-image: url('../images/peterson.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle.rector {
  background-image: url('../images/rector.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle.darrin {
  background-image: url('../images/darrin.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle.felton {
  background-image: url('../images/felton.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle.shellie {
  background-image: url('../images/shellie.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.circle:hover {
  background-color: #008000;
  border-style: dotted;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
